@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
 *, *::before, *::after {
     padding: 0;
     margin: 0;
     border: 0;
     box-sizing: border-box;
}
 img {
     vertical-align: top;
}
 h1, h2, h3, h4, h5, h6 {
     font-size: inherit;
     font-weight: inherit;
}
 html, body {
     height: 100%;
     line-height: 1;
     margin: 0;
}
/* background-color: #99e54d;
 --- salat */
/* background-color: #f1ae0e !important;
 ---- orange */
/* color: 1D1D1F */
/* color: F5F5F7 */
 body {
     font-family: 'Montserrat', sans-serif;
     background-color: #f9f6ee;
}
 a {
     text-decoration: none;
}
 h1 {
     font-size: 48px;
     font-family: 'Montserrat', sans-serif;
     font-weight: 700;
}
 p {
     font-size: 18px;
     font-family: 'Raleway', sans-serif;
}
 .header {
     width: 100%;
     height: 80px;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: #f9f6ee;
}
 .header_container {
     width: 100%;
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
}
/* navigation */
 .nav {
     width: 100%;
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
}
 a {
     text-transform: uppercase;
     margin: 0 20px;
     letter-spacing: 2px;
     font-family: 'Motserrat', sans-serif;
     font-weight: 100;
     font-size: 0.85rem;
     color: #1d1d1f;
}
 a:hover {
     color: #f1ae0e;
}
/*btn*/
 .menu_button {
     display: none;
}
 .button-burger {
     position: relative;
     width: 40px;
     height: 40px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}
 .button-burger:hover {
     cursor: pointer;
}
 .line1, .line2, .line3 {
     margin: 3px 0;
     width: 30px;
     height: 5px;
     background-color: #1d1d1f;
     transition: .3s;
}
 .activeLine1 {
     width: 25px;
     transform: rotate(-45deg) translate(-4px, 1px);
}
 .activeLine2 {
     transform: translateX(8px);
}
 .activeLine3 {
     width: 25px;
     transform: rotate(45deg) translate(-4px, -1px);
}
/*btn*/
 .menu_mobile_devices {
     display: none;
}
/* navigation */



.intro{
    width: 100%;
    height: 760px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro__container{
    width: 1200px;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.intro_block:first-child{
    position: relative;
    padding: 30px;
    width: 45%;
    height: 550px;
    text-align: left;
    background-color: #99e54d;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fafafa;
    padding: 0 30px;
}
.intro_block:last-child{
    width: 45%;
    height: 550px;
    background: url(landingImg/intro.jpeg);
    background-size: cover;
    background-position: center;
    border-radius: 50px;
}

.discount{
    text-transform: uppercase;
    position: absolute;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 220px;
    height: 220px;
    background-color: #1a1a1a;
    border-radius: 50%;
    top:-5%;
    right: 5%;
}

.discount h1,h6{
    margin: 5px 0;
    letter-spacing: 2px;
}
.discount h6{
    line-height: 20px;
}

.text__intro_block{
    position: absolute;
    width: 75%;
    bottom: 0;
    padding: 10px;
}

.text__intro_block h1{
    font-size: 3.5rem;
    line-height: 60px;
    font-family: 'Montserrat',sans-serif;
    font-weight: bold;
}


.text__intro_block h2,h1,button{
    margin: 20px 0;
    line-height: 30px;
}

.text__intro_block h2,button{
    text-transform: uppercase;
}

.text__intro_block button{
    width: 180px;
    height: 55px;
    border-radius: 50px;
    background-color: #1d1d1f;
    color: #fafafa;
    font-weight: bold;
    letter-spacing: 1px;
    transition: .2s linear;
}

.text__intro_block button:hover{
    background-color: #000;
    cursor: pointer;
}


.our-menu{
    width: 100%;
    height: 1300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__our-menu{
    width: 1200px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header_our-menu{
    width: 80%;
    height: 10%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.header_our-menu h1,p{
    margin: 15px 0;
}

.header_our-menu h1{
    font-size: 3rem;
}

.card_block{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card{
    position: relative;
    background-color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 500px;
    margin: 20px 20px;
    border-radius: 50px;
    padding: 5%;
}


.image1,.image2,.image3,.image4{
    position: absolute;
    top: 5%;
    border-radius: 50px;
    width: 85%;
    height: 60%;
}

.image1{
    background: url(img/pizza.jpg);
    background-size: cover;
    background-position: center;
}

.image2{
    background: url(img/salad.jpeg);
    background-size: cover;
    background-position: center;
}

.image3{
    background: url(img/cruasan.jpeg);
    background-size: cover;
    background-position: center;
}

.image4{
    background: url(img/lime.jpeg);
    background-size: cover;
    background-position: center;
}

.card-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    position: absolute;
    bottom: 7%;
    text-transform: uppercase;
    font-size: 1.125rem;
}

.card-text button{
    width: 190px;
    height: 60px;
    margin: 25px auto 0;
    font-weight: lighter;
    text-transform: uppercase;
    background-color: #99e54d;
    color: #1a1a1a;
    font-size: 16px;
    border-radius: 35px;
    font-family: 'Raleway', sans-serif;
}

.card-text button:hover{
    color: #1a1a1a;
     background-color: #8ae132;
     cursor: pointer;
}


.keepUs{
    width: 100%;
    height: 300px;
    background-color: #1a1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
}

.keepUs__container{
    width: 1200px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fafafa;
}

@media screen and (min-width: 760px) and (max-width: 880px) {
    .our-menu{
        height: auto;
    }
}

@media screen and (max-width: 764px) {
    .nav {
        display: none;
   }
    .menu_button {
        position: absolute;
        right: 10%;
        display: block;
   }
    .menu_mobile_devices {
        width: 100%;
        height: 100%;
        display: none;
        animation-duration: 0.7s;
        animation-name: slideIn;
   }
    #overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 999;
        display: none;
   }
    @keyframes slideIn {
        from {
            margin-left: -200px;
            width: 300%;
       }
        to {
            margin-left: 0%;
            width: 100%;
       }
   }
    .nav-menu-mobile {
        margin-top: 0;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 1000;
        width: 200px;
        height: 100%;
        background-color: #1d1d1f;
        opacity: .9;
   }
    .nav-menu-mobile h1 {
        color: #f9f6ee;
        margin-top: 25%;
        font-size: 1.5rem;
   }
    .mobile-link {
        margin-top: 25%;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: left;
   }
    .mobile-link a {
        margin: 15px 0;
        font-size: 0.9rem;
        color: #f9f6ee;
   }
    .mobile-link a:active {
        color: #f1ae0e;
   }

   .intro{
    height: 1000px;
    padding: 50px 0;
   }

   .intro__container{
    width: 80%;
    height: 100%;
    flex-direction: column;
   }

   .intro_block:first-child{
    margin: 20px 0;
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
   }

   .intro_block:last-child{
    margin: 20px 0;
    width: 80%;
    height: 100%;
   }

   .discount{
    right: -10%;
    top: -10%;
    width: 175px;
    height: 175px;
   }

   .text__intro_block h1{
    font-size: 1.5rem;
    line-height: 30px;
   }

   .text__intro_block h2{
    font-size: 0.8rem;
   }

   .text__intro_block{
    width: 80%;
    bottom: 5%;
   }

   .text__intro_block button{
    margin-top: 0;
    width: 100%;
    height: 50px;
    }

    .our-menu{
        height: auto
    }

   .header_our-menu h1{
    font-size: 2rem;
   }

   .card_block{
    width: 80%;
    height: 100%;
   }

   .card{
    width: 100%;
   }

   .keepUs{
    width: 100%;
    height: 200px;
   }

   .keepUs__container{
    width: 80%;
    text-align: center;
   }

   .keepUs__container h1{
    margin: 0;
    font-size: 1.2rem;
   }

   .keepUs__container p{
    font-size: 0.8rem;
   }

}